<main class="form-wrapper">
  <form action="" class="form">
    <h2 class="title">Nova Transação</h2>
    <div class="fields">
      <label class="field-group"
        >Transação
        <div class="select-wrapper">
          <select name="transaction-type" class="field select-transaction">
            <option value="" selected disabled>
              Selecione o tipo de transação
            </option>
            <option value="deposito">Depósito</option>
            <option value="saque">Saque</option>
          </select>
        </div>
      </label>
    </div>
  </form>
</main>
